[flake8]
# ignore strict rules for a more relaxed linting experience
ignore = E203, E501, W503, F401, F403, F405
max-line-length = 120
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv,migrations
