# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
pyvenv.cfg
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# django
db.sqlite3
media/
static/
!static/
static/*
!static/js/
static/js/*
!static/js/coding_exercise.js
!static/scss/
static/scss/*
!static/scss/*.scss
!static/fonts/
static/fonts/*
!static/fonts/*.ttf
!static/fonts/*.woff
!static/fonts/*.woff2
local_settings.py
.pylintrc
.flake8

# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system/ide

.vscode/
.idea/
.DS_Store
Thumbs.db
