# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
pyvenv.cfg
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# django
db.sqlite3
media/
static/
local_settings.py
.pylintrc
.flake8

# system/ide
.vscode/
.idea/
.DS_Store
Thumbs.db
